<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo Create</title>
</head>
<body>

<th:block th:replace="~{layouts/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <h1 class="my-4">할일 추가하기</h1>
        <form th:action="@{/todo/create}" th:object="${todo}" method="post">
            <div class="mb-3">
                <label for="title">제목</label>
                <input th:field="*{title}" name="title" type="text" class="form-control" maxlength="200" id="title" placeholder="제목을 입력하세요" required>
            </div>

            <div class="mb-3">
                <label for="writer"> 작성자</label>
                <input th:field="*{writer}" name="writer" type="text" class="form-control" maxlength="255" id="writer" placeholder="작성자를 입력하세요" required>
            </div>

            <div class="mb-3">
                <label for="due-date" class="form-label">기한</label>
                <input th:field="*{dueDate}" name="dueDate" type="date" id="due-date" class="form-control" required>
            </div>

            <input th:field="*{complete}" type="hidden" name="complete" th:value="${false}">
            <button type="submit" class="btn btn-success">추가하기</button>
        </form>
    </th:block>
</th:block>

</body>
</html>
